.rankImg {
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.rankImg img {
    width: 36px;
    height: 36px;
}

.position-relativetitle {
    position: relative;
    overflow: hidden;
    padding-right: 150px;
}

.img-overlap {
    position: absolute;
    top: 120%;
    left: 20%;
    width: 1100px;
    height: auto;
    transform: translateY(-50%);
    z-index: 1;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 700px);
}
.img-overlapAlpha {
    position: absolute;
    top: 160%;
    left: 20%;
    width: 1100px;
    height: auto;
    transform: translateY(-50%);
    z-index: 1;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 700px);
}
.img-overlapBeta {
    position: absolute;
    top: 160%;
    left: 20%;
    width: 1100px;
    height: auto;
    transform: translateY(-50%);
    z-index: 1;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 700px);
}
.img-overlapGamma {
    position: absolute;
    top: 160%;
    left: 20%;
    width: 1100px;
    height: auto;
    transform: translateY(-50%);
    z-index: 1;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 400px);
}
.img-overlapDelta {
    position: absolute;
    top: 70%;
    left: 20%;
    width: 1100px;
    height: auto;
    transform: translateY(-50%);
    z-index: 1;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 400px);
}
.img-overlapEpsilon {
    position: absolute;
    top: 190%;
    left: 20%;
    width: 1100px;
    height: auto;
    transform: translateY(-50%);
    z-index: 1;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 700px);
}
.img-overlapZeta {
    position: absolute;
    top: 190%;
    left: 20%;
    width: 1100px;
    height: auto;
    transform: translateY(-50%);
    z-index: 1;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 700px);
}
.img-overlapEta {
    position: absolute;
    top: 140%;
    left: 20%;
    width: 1100px;
    height: auto;
    transform: translateY(-50%);
    z-index: 1;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 700px);
}
.img-overlapNu {
    position: absolute;
    top: 190%;
    left: 20%;
    width: 1100px;
    height: auto;
    transform: translateY(-50%);
    z-index: 1;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 700px);
}
.img-overlapClaire {
    position: absolute;
    top: 150%;
    left: 20%;
    width: 1100px;
    height: auto;
    transform: translateY(-50%);
    z-index: 1;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 700px);
}
.img-overlapAlexia {
    position: absolute;
    top: 150%;
    left: 20%;
    width: 1100px;
    height: auto;
    transform: translateY(-50%);
    z-index: 1;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 700px);
}
.img-overlapIris {
    position: absolute;
    top: 120%;
    left: 20%;
    width: 1100px;
    height: auto;
    transform: translateY(-50%);
    z-index: 1;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 700px);
}
.img-overlapRose {
    position: absolute;
    top: 110%;
    left: 20%;
    width: 1100px;
    height: auto;
    transform: translateY(-50%);
    z-index: 1;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 700px);
}
.img-overlapSherry {
    position: absolute;
    top: 100%;
    left: 20%;
    width: 1100px;
    height: auto;
    transform: translateY(-50%);
    z-index: 1;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 700px);
}
.img-overlapAurora {
    position: absolute;
    top: 140%;
    left: 30%;
    width: 1100px;
    height: auto;
    transform: translateY(-50%);
    z-index: 1;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 500px);
}
.img-overlapBeatrix {
    position: absolute;
    top: 50%;
    left: 20%;
    width: 1100px;
    height: auto;
    transform: translateY(-50%);
    z-index: 1;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 700px);
}
.img-overlapAnnerose {
    position: absolute;
    top: 170%;
    left: 30%;
    width: 1100px;
    height: auto;
    transform: translateY(-50%);
    z-index: 1;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 350px);
}
.img-overlapLambda {
    position: absolute;
    top: 150%;
    left: 20%;
    width: 1100px;
    height: auto;
    transform: translateY(-50%);
    z-index: 1;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 700px);
}
.img-overlapVictoria {
    position: absolute;
    top: 160%;
    left: 20%;
    width: 1100px;
    height: auto;
    transform: translateY(-50%);
    z-index: 1;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 700px);
}
.img-overlapElisabeth {
    position: absolute;
    top: 170%;
    left: 20%;
    width: 1100px;
    height: auto;
    transform: translateY(-50%);
    z-index: 1;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 500px);
}
.img-overlapYukime {
    position: absolute;
    top: 140%;
    left: 20%;
    width: 1100px;
    height: auto;
    transform: translateY(-50%);
    z-index: 1;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 500px);
}
.img-overlapDuo {
    position: absolute;
    top: 180%;
    left: 30%;
    width: 1100px;
    height: auto;
    transform: translateY(-50%) rotate(20deg);
    z-index: 1;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 500px);
}

@media (max-width: 768px) {
    .img-overlap {
        width: 100%;
        left: 0;
        top: 70%;
        transform: translateY(-30%);
        mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 700px);
    }
}

@media (max-width: 480px) {
    .img-overlap {
        width: 120%;
        left: -10%;
        top: 70%;
        transform: translateY(-30%);
        mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 700px);
    }
}

.img-overlapOlivier {
    position: absolute;
    top: 140%;
    left: 20%;
    width: 1100px;
    height: auto;
    transform: translateY(-50%);
    z-index: 1;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 500px);
}
