/* Definición del color personalizado */
.text-rojo { color: #dc2626 !important;}
.bg-red-600 { background-color: #dc2626 !important;}
.bg-graybg { background-color: 	#9ca3af !important;}
.bg-alpha { background-color: #F7DC6F } /* cambiar color de texto a negro*/
.bg-beta { background-color: #BCE9E6}
.bg-gamma { background-color: #0d16a1}
.bg-delta { background-color: #025d0f}
.bg-epsilon { background-color: #3ee1c3}
.bg-zeta { background-color: #d25d10}
.bg-eta { background-color: #700b40}
.bg-nu { background-color: #954535}
.bg-alexia { background-color: #b5a6d6 }
.bg-claire { background-color: #000000 }
.bg-iris { background-color: #d2042d}
.bg-rose { background-color: #6104d2}
.bg-sherry { background-color: #ff69b4}
.bg-aurora { background-color: #ad0437}
.bg-beatrix { background-color: #bfb2ba}
.bg-annerose { background-color: #969be7}
.bg-lambda { background-color: #dedada}
.bg-victoria { background-color: #ddb5ef}
.bg-elisabeth { background-color: #880808}
.bg-yukime { background-color: #ffffff} /* cambiar texto a negro */
.bg-vtuber { background-color: #0fee1f}

td.icon-cell {
    width: 75px; !important;
}

.mobile-twits {
    display: none
}

.stretched-link-container {
    text-decoration: none;
    color: inherit;
}

/* 9. Responsive Adjustments */
@media (max-width: 768px) {
    .image-container {
        width: 150px; /* Reduce width for smaller screens */
        height: auto; /* Let the height adjust accordingly */
        margin-left: 0;
    }

    .custom-bg {
        flex-direction: column; /* Stack the text and image vertically on smaller screens */
    }

    .col-md-8 {
        order: 1; /* Ensure the text comes before the image on small screens */
        width: 100%;
    }

    .col-auto {
        order: 2;
        display: flex;
        justify-content: center; /* Center the image */
        width: 100%; /* Make sure the image uses the full width available */
        margin-top: 15px;
    }

    .imagenesPost {
        width: 100%; /* Ensure the image fits within the available width */
        height: auto;
        object-fit: cover;
    }
    .pc-twits {
        display: none;
    }
    .mobile-twits {
        display: block
    }
}
