/* Definición del color personalizado */
.text-rojo { color: #dc2626 !important;}
.bg-red-600 { background-color: #dc2626 !important;}
.bg-graybg { background-color: 	#9ca3af !important;}
.bg-alpha { background-color: #F7DC6F } /* cambiar color de texto a negro*/
.bg-beta { background-color: #BCE9E6}
.bg-gamma { background-color: #0d16a1}
.bg-delta { background-color: #025d0f}
.bg-epsilon { background-color: #3ee1c3}
.bg-zeta { background-color: #d25d10}
.bg-eta { background-color: #700b40}
.bg-nu { background-color: #954535}
.bg-alexia { background-color: #b5a6d6 }
.bg-claire { background-color: #000000 }
.bg-iris { background-color: #d2042d}
.bg-rose { background-color: #6104d2}
.bg-sherry { background-color: #ff69b4}
.bg-aurora { background-color: #ad0437}
.bg-beatrix { background-color: #bfb2ba}
.bg-annerose { background-color: #969be7}
.bg-lambda { background-color: #dedada}
.bg-victoria { background-color: #ddb5ef}
.bg-elisabeth { background-color: #880808}
.bg-yukime { background-color: #ffffff} /* cambiar texto a negro */
.bg-vtuber { background-color: #0fee1f}

td.icon-cell {
    width: 75px; !important;
}
/* Estilo para que todas las celdas de la tabla tengan el mismo ancho */
.equal-width th, .equal-width td {
    width: 1%;
    white-space: nowrap;
}